@-webkit-keyframes mobileStepScroll {

  0%,
  9% {
    transform: translateY(-288px);
  }

  12.5% {
    transform: translateY(-252px);
  }

  12.5%,
  21.5% {
    transform: translateY(-252px);
  }

  25% {
    transform: translateY(-216px);
  }

  25%,
  34% {
    transform: translateY(-216px);
  }

  37.5% {
    transform: translateY(-180px);
  }

  37.5%,
  46.5% {
    transform: translateY(-180px);
  }

  50% {
    transform: translateY(-144px);
  }

  50%,
  59% {
    transform: translateY(-144px);
  }

  62.5% {
    transform: translateY(-108px);
  }

  62.5%,
  71.5% {
    transform: translateY(-108px);
  }

  75% {
    transform: translateY(-72px);
  }

  75%,
  84% {
    transform: translateY(-72px);
  }

  87.5% {
    transform: translateY(-36px);
  }

  87.5%,
  96.5% {
    transform: translateY(-36px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes mobileStepScroll {

  0%,
  9% {
    transform: translateY(-288px);
  }

  12.5% {
    transform: translateY(-252px);
  }

  12.5%,
  21.5% {
    transform: translateY(-252px);
  }

  25% {
    transform: translateY(-216px);
  }

  25%,
  34% {
    transform: translateY(-216px);
  }

  37.5% {
    transform: translateY(-180px);
  }

  37.5%,
  46.5% {
    transform: translateY(-180px);
  }

  50% {
    transform: translateY(-144px);
  }

  50%,
  59% {
    transform: translateY(-144px);
  }

  62.5% {
    transform: translateY(-108px);
  }

  62.5%,
  71.5% {
    transform: translateY(-108px);
  }

  75% {
    transform: translateY(-72px);
  }

  75%,
  84% {
    transform: translateY(-72px);
  }

  87.5% {
    transform: translateY(-36px);
  }

  87.5%,
  96.5% {
    transform: translateY(-36px);
  }

  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes stepScroll {

  0%,
  9% {
    transform: translateY(-392px);
  }

  12.5% {
    transform: translateY(-343px);
  }

  12.5%,
  21.5% {
    transform: translateY(-343px);
  }

  25% {
    transform: translateY(-294px);
  }

  25%,
  34% {
    transform: translateY(-294px);
  }

  37.5% {
    transform: translateY(-245px);
  }

  37.5%,
  46.5% {
    transform: translateY(-245px);
  }

  50% {
    transform: translateY(-196px);
  }

  50%,
  59% {
    transform: translateY(-196px);
  }

  62.5% {
    transform: translateY(-147px);
  }

  62.5%,
  71.5% {
    transform: translateY(-147px);
  }

  75% {
    transform: translateY(-98px);
  }

  75%,
  84% {
    transform: translateY(-98px);
  }

  87.5% {
    transform: translateY(-49px);
  }

  87.5%,
  96.5% {
    transform: translateY(-49px);
  }

  100% {
    transform: translateY(0px);
  }
}


@keyframes stepScroll {

  0%,
  9% {
    transform: translateY(-392px);
  }

  12.5% {
    transform: translateY(-343px);
  }

  12.5%,
  21.5% {
    transform: translateY(-343px);
  }

  25% {
    transform: translateY(-294px);
  }

  25%,
  34% {
    transform: translateY(-294px);
  }

  37.5% {
    transform: translateY(-245px);
  }

  37.5%,
  46.5% {
    transform: translateY(-245px);
  }

  50% {
    transform: translateY(-196px);
  }

  50%,
  59% {
    transform: translateY(-196px);
  }

  62.5% {
    transform: translateY(-147px);
  }

  62.5%,
  71.5% {
    transform: translateY(-147px);
  }

  75% {
    transform: translateY(-98px);
  }

  75%,
  84% {
    transform: translateY(-98px);
  }

  87.5% {
    transform: translateY(-49px);
  }

  87.5%,
  96.5% {
    transform: translateY(-49px);
  }

  100% {
    transform: translateY(0px);
  }
}


@-webkit-keyframes infiniteSlider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-4 * var(--item-width) - 4*var(--item-gap)));
  }
}

@keyframes infiniteSlider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-4 * var(--item-width) - 4*var(--item-gap)));
  }
}
