@import url('animations.css');

@view-transition {
    navigation: auto;
}

:root {
    --item-height: 7px;
    --total-items: 13;
    --animation-duration: 40s;
    --scroll-height: 73px;
    --color-red: #EB3648;
    --color-gray: #424242;

    --item-width: 289px;
    --item-gap: 30px;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
    box-sizing: border-box;
}

.title>* {
    font-size: 32px;
    font-weight: 900;
    color: #000;
    text-decoration: none;
}

.title--navigation>* {
    color: #fff;
}

.header {
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}

.navigation__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
}

.navigation__mobile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 16px;
    height: 16px;
    position: relative;
}

.navigation__mobile-button>span {
    background-color: #000;
    height: 2px;
    width: 100%;
}

.navigation__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background-color: #161616;
    z-index: 33;
    transform: translateY(-100%);
    opacity: 0;
    transition: .4s ease-in-out;
}

.navigation__mobile-close-button {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
}

.navigation__mobile-close-button::after,
.navigation__mobile-close-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform-origin: center;
}

.navigation__mobile-close-button::after {
    transform: rotate(-45deg);
}

.navigation__mobile-close-button::before {
    transform: rotate(45deg);
}

.title--red {
    color: var(--color-red);
}

img {
    max-width: 100%;
}

.navigation__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navigation__item>a {
    text-decoration: none;
    font-size: 26px;
    color: #fff
}

.navigation__item>.navigation__link--active {
    color: var(--color-red)
}

.navigation__item--active>a {
    color: var(--color-red);
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 80px auto 60px auto;
    gap: 25px;
    padding: 0 20px;
}

.hero__title {
    font-weight: 500;
    font-size: 34px;
    color: var(--color-red);
}

.top__title {
    color: #000;
}

.top__title--small {
    font-size: 26px;
    font-weight: 300;
    display: block;
}

.hero__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hero__content-item {
    font-size: 20px;
    line-height: 160%;
    flex: 1;
    min-width: 200px;
}

.hero__content-item>h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.hero__content-item>p {
    font-weight: 300;
    color: var(--color-gray);
    margin: 0;
}

/* scroll */

.container {
    position: relative;
    max-width: 600px;
    height: calc(var(--scroll-height) + var(--item-height) + 10px);
    overflow: hidden;
}

.scroll-list {
    margin-top: 0 !important;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: mobileStepScroll 20s infinite linear;
}

.scroll-list li {
    height: 26px;
    font-size: 22px;
    font-weight: 300;
    white-space: nowrap;
}

.gradient-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, #fff);
}

.slider {
    overflow-x: hidden;
}

.slider__wrapper {
    display: flex;
    gap: 30px;
    animation: infiniteSlider 30s infinite linear;

}

.slider__wrapper:hover {
    animation-play-state: paused;
}

.slider__item {
    width: 100%;
    width: var(--item-width);
    height: 289px;
    flex: 0 0 auto;
}

.slider__item>img {
    width: 100%;
    height: 100%;
}

.about-me,
.experience {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 80px 20px;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
}

.about-me__title,
.experience__title {
    font-size: 20px;
    font-weight: 500;
}

.about-me__content {
    font-weight: 300;
    color: var(--color-gray);
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 180%;
    max-width: 1115px;
}

.about-me__content-title {
    font-size: 26px;
    font-weight: inherit;
    line-height: 140%;
}

.about-me__content>p {
    margin: 0;
}

.experience__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    max-width: 1115px;
    width: 100%;
}

.experience__item {
    width: 352px;
    font-size: 20px;
    font-weight: 300;
    color: var(--color-gray);
}

.experience__item p,
.experience__item strong {
    display: block;
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.experience__item ul {
    list-style: none;
    padding-inline-start: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience__item>strong {
    font-weight: 600;
    color: #000;
}

.experience__item span.red {
    color: var(--color-red);
    font-weight: 600;
}

.realizations {
    padding: 0 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.realizations--desktop {
    padding-top: 170px;
}

.realizations--subpage {
    margin-bottom: 100px;
}

.realizations__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.realization {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
}

.realization__image {
    max-width: 735px;
    overflow: hidden;
    border-radius: 20px;
}

.realization__image--sm {
    max-width: 637px;
}

.realization__image>img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
}

.realization__image>img:hover {
    transform: scale(1.1);
}

.realization__content>.realization__category {
    font-size: 18px;
    font-weight: 300;
    color: var(--color-gray);
}

.realization__content>.realization__title {
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

.realizations__show-all {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    height: 64px;
    border: 1px solid #e1e1e1;
    transition: .2s ease;
    margin-top: 80px;
}

.realizations__show-all:hover {
    border-color: #000;
}

.clients {
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 20px;
}

.clients__title {
    font-size: 26px;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 60px;
    text-align: center;
}

.clients__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
}

.client {
    max-width: 50%;
    width: 170px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client__logo {
    display: block;
    max-height: 70%;
    max-width: 63%;
    object-fit: contain;
    object-position: center;
    filter: grayscale(1);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.client__logo:hover {
    filter: grayscale(0);
}

.footer {
    background-color: #161616;
    color: #fff;
}

.milestones {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 50px 20px;
    gap: 20px;
}

.milestone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}

.milestone__counter {
    font-size: 50px;
    font-weight: 700;
}

.milestone__content {
    font-size: 18px;
    color: #c4c4c4;
    margin: 0;
}

.contact {
    padding: 50px 20px;
}

.contact__content {
    font-size: 26px;
    font-weight: 400;
    line-height: 140%;
    max-width: 700px;
}

.contact__content>p>span {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #c4c4c4;
    line-height: 125%;
}

.contact__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact__info-mail,
.contact__info-phone {
    font-size: 26px;
    font-weight: 600;
    color: var(--color-red);
    text-decoration: none;
}

.contact__info-phone {
    color: #fff;
}

.contact__info>p {
    font-size: 18px;
    color: #c4c4c4;
    line-height: 140%;
}

.footer-wrapper hr {
    border-color: #FFFFFF33;
}

/* ABOUT PAGE */

.wide-image {

    width: 100%;
    height: 200px;
    position: relative;

}

.wide-image>img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section-breakline {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    background-color: #ececec;
    height: 2px;
}

@media screen and (min-width: 568px) {

    /* ABOUT PAGE */

    .wide-image {
        height: 533px;
    }
}

@media screen and (min-width: 991px) {

    :root {
        --item-height: 51px;
        --total-items: 13;
        --animation-duration: 14s;
        --scroll-height: 100px;

        --item-width: 607px;
    }

    .navigation__wrapper {
        position: relative;
        width: auto;
        height: auto;
        background-color: transparent;
        display: block;
        transform: translateY(0);
        opacity: 1;
    }

    .navigation__link {
        position: relative;
    }



    .navigation__link::after {
        z-index: -1;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #F8BDC4;
        opacity: 0;
        transition: .3s ease;
    }

    .navigation__link:hover::after {
        opacity: 1;
    }

    .navigation__mobile-button {
        display: none;
    }

    .navigation__header {
        display: none;
    }

    .navigation__list {
        flex-direction: row;
        align-items: center;
        gap: 70px;
    }

    .navigation__item>a {
        font-size: 16px;
        color: #000;
        text-decoration: none;
        font-weight: 600;
    }

    .scroll-list {
        animation: stepScroll 20s infinite linear;
    }

    .scroll-list li {
        height: 39px;
        font-size: 34px;
    }

    .hero {
        margin: 200px auto auto;
    }

    .hero--homepage {
        margin-bottom: 150px;
    }

    .hero__title {
        font-size: 70px;
    }

    .hero__content {
        margin: 100px 0 150px 0;
    }

    .slider__item {
        width: var(--item-width);
        height: 607px;
    }

    .about-me {
        padding: 200px 20px;
    }

    .realizations__show-all {
        margin-top: 100px;
    }

    .realizations--subpage {
        margin: 200px auto;
    }

    .realizations__wrapper {
        row-gap: 200px;
    }

    .clients {
        padding: 140px 20px 200px 20px;
    }

    .clients__wrapper {
        row-gap: 90px;
    }

    .client {
        width: 249px;
        height: 158px;
    }

    .client__logo {
        max-height: 60%;
    }

    .milestones {
        max-width: 1500px;
        margin: 0 auto;
        padding: 140px;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 115px 20px;
        max-width: 1500px;
        margin: 0 auto;

    }

    /* ABOUT PAGE */

    .wide-image {
        height: 1000px;
    }

    .top__title {
        font-size: 60px;
        line-height: 140%;
    }
}

@media screen and (min-width: 1200px) {
    .hero--realization .hero__content {
        max-width: 755px;
    }
}

.scroll-window {
    position: relative;
}

.text-red {
    color: var(--color-red);
}

.slideInMenu {
    transform: translateY(0);
    opacity: 1;
}
